---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "哎呀！这个页面好像迷失在宇宙中了！",
	title: "哎呀！这个页面好像迷失在宇宙中了！",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">404 | 页面未找到</h1>
	<p class="mb-8">请使用导航栏返回主页或其他页面。</p>
</PageLayout>
